<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>name</key>
		<string>dubki</string>
		<key>title</key>
		<string>Dubki</string>
		<key>description</key>
		<string>Domitory (Odincovo)</string>
		<key>station</key>
		<string>odincovo</string>
		<key>subway</key>
		<string>--</string>
		<key>onfoot</key>
		<integer>5</integer>
		<key>mapsrc</key>
		<string></string>
		<key>lon</key>
		<string>37.228579</string>
		<key>lat</key>
		<string>55.660150</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>name</key>
		<string>aeroport</string>
		<key>title</key>
		<string>Kochnovsky Proezd</string>
		<key>description</key>
		<string>Subway Aeroport</string>
		<key>station</key>
		<string>belorusskaya</string>
		<key>subway</key>
		<string>aeroport</string>
		<key>onfoot</key>
		<integer>14</integer>
		<key>mapsrc</key>
		<string>9kfYmO7lbg2o_YuSTvZqiY9rCevo23cs</string>
		<key>lon</key>
		<string>37.541718</string>
		<key>lat</key>
		<string>55.806661</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>name</key>
		<string>strogino</string>
		<key>title</key>
		<string>Strogino</string>
		<key>description</key>
		<string>Subway Strogino</string>
		<key>station</key>
		<string>kuntsevo</string>
		<key>subway</key>
		<string>strogino</string>
		<key>onfoot</key>
		<integer>6</integer>
		<key>mapsrc</key>
		<string>pMeBRyKZjz3PnQn4HCZKIlagbMIv2Bxp</string>
		<key>lon</key>
		<string>37.409846</string>
		<key>lat</key>
		<string>55.803469</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>name</key>
		<string>myasnitskaya</string>
		<key>title</key>
		<string>Myasnitskaya</string>
		<key>description</key>
		<string>Subway Lubyanka</string>
		<key>station</key>
		<string>begovaya</string>
		<key>subway</key>
		<string>lubyanka</string>
		<key>onfoot</key>
		<integer>6</integer>
		<key>mapsrc</key>
		<string>GGWd7qLfRklaR5KSQQpKFOiJT8RPFGO-</string>
		<key>lon</key>
		<string>37.632969</string>
		<key>lat</key>
		<string>55.761345</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>name</key>
		<string>vavilova</string>
		<key>title</key>
		<string>Vavilovo</string>
		<key>description</key>
		<string>Subway Leninsky Prospekt</string>
		<key>station</key>
		<string>kuntsevo</string>
		<key>subway</key>
		<string>leninsky_prospekt</string>
		<key>onfoot</key>
		<integer>5</integer>
		<key>mapsrc</key>
		<string>_Cz-NprpRRfD15AECXvyxGQb5N7RY3xC</string>
		<key>lon</key>
		<string>37.585358</string>
		<key>lat</key>
		<string>55.704874</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>name</key>
		<string>izmailovo</string>
		<key>title</key>
		<string>Kirpichnaya Ulitsa</string>
		<key>description</key>
		<string>Subway Semyonovskaya</string>
		<key>station</key>
		<string>kuntsevo</string>
		<key>subway</key>
		<string>semyonovskaya</string>
		<key>onfoot</key>
		<integer>16</integer>
		<key>mapsrc</key>
		<string>tTSwzei04UwodpOe5ThQSKwo47ZiR8aO</string>
		<key>lon</key>
		<string>37.733221</string>
		<key>lat</key>
		<string>55.778730</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>7</integer>
		<key>name</key>
		<string>tekstilshchiki</string>
		<key>title</key>
		<string>Tekstilshchiki</string>
		<key>description</key>
		<string>Subway Tekstilshchiki</string>
		<key>station</key>
		<string>begovaya</string>
		<key>subway</key>
		<string>tekstilshchiki</string>
		<key>onfoot</key>
		<integer>10</integer>
		<key>mapsrc</key>
		<string>IcVLk9vNC1afHy5ge05Ae07wahHXZZ7H</string>
		<key>lon</key>
		<string>0</string>
		<key>lat</key>
		<string>0</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>8</integer>
		<key>name</key>
		<string>st_basmannaya</string>
		<key>title</key>
		<string>Staraya Basmannaya</string>
		<key>description</key>
		<string>Subway Kurskaya</string>
		<key>station</key>
		<string>kuntsevo</string>
		<key>subway</key>
		<string>kurskaya</string>
		<key>onfoot</key>
		<integer>16</integer>
		<key>mapsrc</key>
		<string>LwunOFh66TXk8NyRAgKpsssV0Gdy34pG</string>
		<key>lon</key>
		<string>37.663287</string>
		<key>lat</key>
		<string>55.766734</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>9</integer>
		<key>name</key>
		<string>shabolovskaya</string>
		<key>title</key>
		<string>Shabolovskaya</string>
		<key>description</key>
		<string>Subway Shabolovskaya</string>
		<key>station</key>
		<string>begovaya</string>
		<key>subway</key>
		<string>shabolovskaya</string>
		<key>onfoot</key>
		<integer>4</integer>
		<key>mapsrc</key>
		<string>0enMIqcJ_dLy8ShEHN34Lu-4XBAHsrno</string>
		<key>lon</key>
		<string>37.608472</string>
		<key>lat</key>
		<string>55.720418</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>10</integer>
		<key>name</key>
		<string>petrovka</string>
		<key>title</key>
		<string>Petrovka</string>
		<key>description</key>
		<string>Subway Kuznetsky most</string>
		<key>station</key>
		<string>begovaya</string>
		<key>subway</key>
		<string>kuznetsky_most</string>
		<key>onfoot</key>
		<integer>6</integer>
		<key>mapsrc</key>
		<string>pSiE6gI2ftRfAGBDauSW0G0H2o9R726u</string>
		<key>lon</key>
		<string>37.618515</string>
		<key>lat</key>
		<string>55.762840</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>11</integer>
		<key>name</key>
		<string>paveletskaya</string>
		<key>title</key>
		<string>Malaya Pionerskaya</string>
		<key>description</key>
		<string>Subway Paveletskaya</string>
		<key>station</key>
		<string>begovaya</string>
		<key>subway</key>
		<string>paveletskaya</string>
		<key>onfoot</key>
		<integer>5</integer>
		<key>mapsrc</key>
		<string>1SimW8pYfuzER0tbTEYFs1RFaNUFnhh-</string>
		<key>lon</key>
		<string>37.635171</string>
		<key>lat</key>
		<string>55.728358</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>12</integer>
		<key>name</key>
		<string>ilyinka</string>
		<key>title</key>
		<string>Ilyinka</string>
		<key>description</key>
		<string>Subway Kitay-Gorod</string>
		<key>station</key>
		<string>begovaya</string>
		<key>subway</key>
		<string>kitay-gorod</string>
		<key>onfoot</key>
		<integer>7</integer>
		<key>mapsrc</key>
		<string>7UEkPE7kT0Bhb4rOzDbk2O57LdWBE8Lq</string>
		<key>lon</key>
		<string>37.628028</string>
		<key>lat</key>
		<string>55.755864</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>13</integer>
		<key>name</key>
		<string>trehsvyat_b</string>
		<key>title</key>
		<string>Bolshoy Tryokhsvyatitelsky Pereulok</string>
		<key>description</key>
		<string>Subway Kitay-Gorod</string>
		<key>station</key>
		<string>begovaya</string>
		<key>subway</key>
		<string>kitay-gorod</string>
		<key>onfoot</key>
		<integer>13</integer>
		<key>mapsrc</key>
		<string>_WWkurGGUbabsiPE9xgdLP_iJ61vbJrZ</string>
		<key>lon</key>
		<string>37.646471</string>
		<key>lat</key>
		<string>55.755368</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>14</integer>
		<key>name</key>
		<string>trehsvyat_m</string>
		<key>title</key>
		<string>Maly Tryokhsvyatitelsky Pereulok</string>
		<key>description</key>
		<string>Subway Kitay-Gorod</string>
		<key>station</key>
		<string>begovaya</string>
		<key>subway</key>
		<string>kitay-gorod</string>
		<key>onfoot</key>
		<integer>15</integer>
		<key>mapsrc</key>
		<string>jBGwqmV8V-JjFzbG2M_13sGlAUVqug-9</string>
		<key>lon</key>
		<string>37.645447</string>
		<key>lat</key>
		<string>55.754213</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>15</integer>
		<key>name</key>
		<string>hitra</string>
		<key>title</key>
		<string>Khitrovsky Pereulok</string>
		<key>description</key>
		<string>Subway Kitay-Gorod</string>
		<key>station</key>
		<string>begovaya</string>
		<key>subway</key>
		<string>kitay-gorod</string>
		<key>onfoot</key>
		<integer>13</integer>
		<key>mapsrc</key>
		<string>j1cHqL5k2jw_MK31dlBLEwPPPmj72NNg</string>
		<key>lon</key>
		<string>37.644773</string>
		<key>lat</key>
		<string>55.753555</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>16</integer>
		<key>name</key>
		<string>gnezdo</string>
		<key>title</key>
		<string>Maly Gnezdnikovsky Pereulok</string>
		<key>description</key>
		<string>Subway Tverskaya</string>
		<key>station</key>
		<string>belorusskaya</string>
		<key>subway</key>
		<string>tverskaya</string>
		<key>onfoot</key>
		<integer>5</integer>
		<key>mapsrc</key>
		<string>_a_UjKz_rMbmf2l_mWtsRUjlaqlRySIS</string>
		<key>lon</key>
		<string>37.606109</string>
		<key>lat</key>
		<string>55.761690</string>
	</dict>
</array>
</plist>
