<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Main road begins with the first step.</string>
	<string>On the way and father to the son companion.</string>
	<string>In game yes in a poputya of people learn.</string>
	<string>In dark night the road is far.</string>
	<string>To everyone the road.</string>
	<string>Where road, there and way.</string>
	<string>The way and изъездчив is long.</string>
	<string>Sleep at home, and on the way don&apos;t doze.</string>
	<string>The house thought to the road is no good.</string>
	<string>The road even in potholes is better than off road terrain.</string>
	<string>The road on which went one thousand years, turns into the river.</string>
	<string>The road choose any, and don&apos;t forget the native land.</string>
	<string>The road will be mastered by the going.</string>
	<string>Road people long don&apos;t sleep.</string>
	<string>Knowing the road isn&apos;t tired.</string>
	<string>Going the road overcomes, sitting thoughts overcome.</string>
	<string>Going any road will master.</string>
	<string>What went, such is and arrived.</string>
	<string>Who knows the road, that doesn&apos;t stumble.</string>
	<string>The bad road, than the bad fellow traveler is better.</string>
	<string>Persistent will master the road.</string>
	<string>Not the long journey learns, and near.</string>
	<string>Be not praised by departure, be praised by arrival.</string>
	<string>The unfamiliar road is similar to a hole.</string>
	<string>Night as day; the road as a cloth - sit down yes slide!</string>
	<string>To one to go - and the road is long.</string>
	<string>The road is open for open heart.</string>
	<string>Peshechk you will be more faithful.</string>
	<string>On the bad road far you won&apos;t leave.</string>
	<string>Direct road - the shortest.</string>
	<string>Weak feet get stronger on the way.</string>
	<string>I will take a body, and I don&apos;t warrant for soul.</string>
	<string>Give way to fools and mentally ill people.</string>
	<string>What it is fated to find - on the road lies.</string>
	<string>Very much to go - to reach not soon.</string>
</array>
</plist>
