<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Большая дорога начинается с первого шага.</string>
	<string>В дороге и отец сыну товарищ.</string>
	<string>В игре да в попутье людей узнают.</string>
	<string>В темную ночь дорога далека.</string>
	<string>Всякому своя дорога.</string>
	<string>Где дорога, там и путь.</string>
	<string>Долог путь, да изъездчив.</string>
	<string>Дома спи, а в дороге не дремли.</string>
	<string>Домашняя дума в дорогу не годится.</string>
	<string>Дорога даже в ухабах лучше бездорожья.</string>
	<string>Дорога, по которой ходили тысячу лет, превращается в реку.</string>
	<string>Дорогу выбирай любую, а родную страну не забывай.</string>
	<string>Дорогу осилит идущий.</string>
	<string>Дорожные люди долго не спят.</string>
	<string>Знающий дорогу не устаёт.</string>
	<string>Идущий дорогу одолевает, сидящего думы одолевают.</string>
	<string>Идущий любую дорогу осилит.</string>
	<string>Каков поехал, таков и приехал.</string>
	<string>Кто знает дорогу, тот не спотыкается.</string>
	<string>Лучше плохая дорога, чем плохой попутчик.</string>
	<string>Настойчивый дорогу осилит.</string>
	<string>Не дальняя дорога учит, а ближняя.</string>
	<string>Не хвались отъездом, хвались приездом.</string>
	<string>Незнакомая дорога подобна яме.</string>
	<string>Ночь, как день; дорога, как скатерть - садись да катись!</string>
	<string>Одному ехать - и дорога долга.</string>
	<string>Открытому сердцу дорога открыта.</string>
	<string>Пешечком верней будешь.</string>
	<string>По плохой дороге далеко не уедешь.</string>
	<string>Прямая дорога - самая короткая.</string>
	<string>Слабые ноги крепнут в дороге.</string>
	<string>Тело довезу, а за душу не ручаюсь.</string>
	<string>Уступай дорогу дуракам и сумасшедшим.</string>
	<string>Что найти суждено - на дороге лежит.</string>
	<string>Шибко ехать - не скоро доехать.</string>
</array>
</plist>
